---
---

// Variables
$twitter-dark-blue: #0084b4;
$twitter-logo-blue: #00aced;
$twitter-verified-blue: #1dcaff;
$twitter-background-blue: #c0deed;
$twitter-dark-alpha: rgba(0, 132, 180, 0.5);
$social-background: rgba(150, 150, 150, 0.5);
$black: #333;
$green: #005500;
$red: #8f0000;

// Global styles
html, body {
    margin: 0;
    padding: 0;
}

a {
    color: $red;
}

h1 {
    font-size: 7vw;
    margin-top: 0;
}

h2 {
    font-size: 30px;
}

// Hero styles
.full-hero {
    background-color: $twitter-background-blue;
    height: 50vh;
}

// Bio styles
.bio-wrapper {
    font-size: 24px;
    margin: auto;
    max-width: 960px;

    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

}

.bio-box {
    font-size: 1rem;
    border: 1px solid $black;
    width: 23%;
    padding: 2%;
    float: left;
    margin: 40px 1% 0;
    box-sizing: border-box;

    h3 {
        font-size: 1.5em;
        color: #fff;
        margin: -40px 0 1em;
        text-align: center;
    }

    img {
        width: 100%;
    }

}

.bio-copy {
    font-size: 1em;

    a {
        color: $green;
    }

}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;

    &>li {
        display: inline-block;
    }

}

.social-link {
    background: $social-background;
    color: $twitter-dark-blue;
    display: inline-block;
    height: 36px;
    width: 36px;
}