---
---

a {
    color: red;
}

#orange-link {
    color: orange;
}

#exec-bio {
    background-color: lightgray;
}

.bio-box {
    border: 1px solid black;
    a {
        color: green;
    }
}

.azure-box {
    background-color: azure;
}