---
---

// Variables
$twitter-dark-blue: #0084b4 ;
$twitter-logo-blue: #00aced;
$twitter-verified-blue: #1dcaff;
$twitter-background-blue: #c0deed;
$twitter-dark-alpha: rgba(0, 132, 180,0.5);
$social-background: rgba(150,150,150,0.5);
$black: #333;
$green: #005500;
$red: #8f0000;

// Global styles
html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: $red;
}
h1 {
    margin-top: 0;
}
h2 {
    font-size: 30px;
}

// Hero styles
.full-hero {
    background-color: $twitter-background-blue;
    height: 50vh;
}

// Bio styles
.bio-wrapper {
    font-size: 24px;
}
.bio-box {
    font-size: 1rem;
    border: 1px solid $black;
    width: 50%;
    h3 {
        font-size: 1.5em;
    }
}

.bio-copy {
    font-size: 1em;
}

.bio-copy a {
    color: $green;
}

.social-link {
    background: $social-background;
    color: $twitter-dark-blue;
    display: inline-block;
    height: 36px;
    width: 36px;
}